@model Projectoree.Models.IndexViewModel

@{
    ViewBag.Title = "Manage";
    var userid = Model.userid;
}

<h2>@Model.firstname's Profile</h2>

@if (TempData["Message"] != null)
{
    <p class="text-success">@TempData["errorMessage"]</p>
}
else if (ViewBag.StatusMessage != null)
{
    <p class="text-success">@ViewBag.StatusMessage</p>
}

@if (TempData["errorMessage"] != null)
{
    <p class="text-success">@TempData["errorMessage"]</p>
}

<div>
    @*<h4>Change your account settings</h4>*@
    <dl class="dl-horizontal">

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.firstname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lastname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.discipline)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.discipline)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contactnumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contactnumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.skills)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.skills)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.units)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.units)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.interests)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.interests)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bio)
            </dd>

        </dl>
    </div>

        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        @if (Model.userid != null)
            {
            <dt>Update Profile Details:</dt>
            <dd>
                [
                    @Html.ActionLink("Update Account Details", "Edit", new { id = @userid + "/" })
                ]
            </dd>

            <dt>Delete user Account:</dt>
            <dd>
                [
                @Html.ActionLink("Delete", "Delete", "Profiles")
                ]
            </dd>
        }

        @*
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

            See
            <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

            Uncomment the following block after you have set up two-factor authentication
    *@
        @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>

            <dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>*@
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
        </dd>
    </dl>
</div>
